<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
    <script type="text/javascript" src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
    <script type="text/javascript" src="bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
</head>
<body>

    <header></header>
    <section id="mainContents"></section>
    <footer></footer>

    <script type="text/html" id="headerTemplate">
        <h1>Todo list</h1>
        <input id="titleInput" placeholder="title..." autofocus>
        <input id="descInput" placeholder="desc..." autofocus>
        <button type="button" name="addTodo">add</button>
    </script>

    <script type="text/html" id="todoListTemplate">
        <ul id="todoList"></ul>
    </script>

    <script type="text/html" id="todoItemTemplate">
        <h5><%- title %></h5>
        <div><%- desc %></div>
        <% if (limit) { %><span><%- limit %></span><% } %>
    </script>



    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/layout.js"></script>
    <script type="text/javascript" src="js/todo.js"></script>
</body>
</html>
